
$color: whitesmoke;
$primary-color: #0e0e0e;
$secondary-color: SlateBlue;
$accent-color: Violet;

$body-bg: $primary-color;


$body-color: $color;

.card-color {
  color: $primary-color
}

.login-font {
  color: $color
}

.movie-header-font {
  color: $secondary-color;
}

.login-card {
  color: $primary-color;
}

.muted-text-font {
  font-size: x-small;
}

.favorite-movie {
  color: crimson !important; 
}

.favorite-icon {
  color: #6c757d; 
  font-size: 35px;
}

.favorite-icon:hover {
  color: crimson; 
}

Button.main {
  padding: 4px 12px 4px 12px;
  color: $color;
  background-color: $secondary-color;
  border: none;
  border-radius: 4px;
  cursor: "pointer"; 
  transition-duration: 0.4s;
}

Button.main:hover {
  background-color: $accent-color;
  color: $primary-color;
}

Button.secondary {
  padding: 4px 12px 4px 12px;
  color: $primary-color;
  background-color: $accent-color;
  border: none;
  border-radius: 4px;
  cursor: "pointer"; 
  transition-duration: 0.4s;
}

Button.secondary:hover {
  background-color: $secondary-color;
  color: $color;
}

.movie-view-img {
  max-height: 450px;
}
.movie-card-img {
  max-height: 350px;
}


@import '~bootstrap/scss/bootstrap.scss';

//This is a good way of checking that the build process has worked. SCSS will fail to directly render in the browser unless the build process has successfully transpiled the SCSS into CSS
